.book-section {
    z-index: 1;
    padding-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
}

.book {
    margin: 30px;
    width: 300px;
    padding: 10px;
    text-align: center;
}

.img-book {
    width: 300px;
    height: 500px;
}

.book-name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.button-buy {
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: red;
    border-radius: 15px;
    cursor: pointer;
    font-weight: blod;
    font-size: 1.2em;
    border: none;
}

.button-buy:hover {
    background-color: brown;
}

.full-price {
    text-decoration: line-through;
}

.book:hover {
    cursor: alias;
    background-color:darkgrey;
    transform: scale(1.1);
    transition: transform 0.5s ease;
}